# Independent Samples T Test

## Example -1

- İçme suyundaki arsenic konsantrasyonu  sağlık açısından tehlikelidir. Phoenix ve Arizona daki 10 bölge için bu arsenic değeri ppb (parts per billion)  raporlarda verilmiştir. bu rapor csv dosyasında verilmiştir 
- Ortalama arsenic konsatnrasyonu açısından Phoenix ve Arizona arasında istatistiksel olarak anlamlı bir fark var mıdır ?

- Ho: ortalamalar arasında fark yoktur
- H1: ortalamalar arasında fark vardır

In [ ]:
# indepent t test..  çünkü 2 tane independent grup var
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html#scipy.stats.ttest_ind

In [4]:
import pandas as pd
import scipy.stats as stats

In [5]:
# arsenic datasını cagıralım

df = pd.read_csv("arsenic.csv")
df

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [6]:
#phoneix ortalama arsenic degeri 
df["x1"].mean()

12.5

In [8]:
#arizona ortalama arsenic degeri 
df["x2"].mean()

27.5

In [ ]:
# 12.5 ve 27.5 arasındaki ark anlamlı mı ?

In [9]:
# ttest_ind fonksiyonu kullanıyoruz..  dokumanda a,b isteniyor
# a,b arsenic degerleridir

indTest = stats.ttest_ind(df["x1"], df["x2"])
indTest

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.012704425122128032)

In [10]:
# t skoru

indTest.statistic

-2.7669395785560553

In [11]:
# p-value
indTest.pvalue

0.012704425122128032

In [ ]:
# alpha ve p value karsılastırması

In [12]:
alpha = 0.05

if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

In [ ]:
# ortalamalar arasındaki fark istatiksel olarak anlamlıdır

# Dependent T test (paired Test)

## Example -2 - Prozac

Depresyonlu bireylerin üzerinde bir antidepresan olarak Prozac etkisini inceliyoruz. 
Likert tipi ölçekle 0-20 arası değerlendirme yapılmıştır. Bu ölçekteki düşük değerlerin etkisi az, yüksek değerlerin etkisi fazla demektir. Tablodaki moodpre sütunu tedavi öncesi ölçüm olup, moodpost ise tedavs nonrası ölçüm değeridir. 9 kişi üzerinde test yapılmıştır. + değere sahip olan differences satırlarında iyileşme olmuş demektir. 
Prozac antidepresan etkisine sahip midir ?

alpha   0.05 durumuna göre farklar anlamlı mıdır ?

In [14]:
prozac = pd.read_csv("prozac.csv")
prozac

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

In [ ]:
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html#scipy.stats.ttest_rel 
# two related group ..  2 paired feature

In [15]:
# t skoru ve p-value hesabı
# H0:  d_bar = 0
# H1:  d_bar != 0

stats.ttest_rel(prozac["moodpre"], prozac["moodpost"])

TtestResult(statistic=-3.1428571428571423, pvalue=0.013745824394788489, df=8)

In [18]:
# H0:  d_bar = 0
# H1:  d_bar > 0    durumunda alternative kısmı greater olarak yazılır.burada bunu denedik
# dokumana bakılırsa buraya 3 degerin yazılabileceği görülür


pairedtest= stats.ttest_rel(prozac.moodpost, prozac.moodpre, alternative ="greater")
pairedtest

TtestResult(statistic=3.1428571428571423, pvalue=0.006872912197394244, df=8)

In [19]:
# H0:  d_bar = 0
# H1:  d_bar < 0    durumunda alternative kısmı less olarak yazılır.burada bunu denedik
# kodda moodpre ile moodpost yer değişti.. p value ler aynı şekilde bulundu. alternative kısmını degişsek de sonuc aynı
# test istatistiği yorum farkından dolayı sadece eksi çıktı 
 
stats.ttest_rel(prozac.moodpre, prozac.moodpost, alternative = "less")

TtestResult(statistic=-3.1428571428571423, pvalue=0.006872912197394244, df=8)

In [21]:
alpha = 0.05

if pairedtest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

In [ ]:
# reject olduguna gore aralarında fark vardır denilir..  ilaç etkilidir..